`WAP to print all the items in a list`

In [1]:
list = [1,2,3,4,5,6,9]
print(list)

[1, 2, 3, 4, 5, 6, 9]

`Use range func to print all the even ny bers from 1 to 10`

In [3]:
list = [x  for x in range(1,11) if x % 2 == 0]
print(list)

[2, 4, 6, 8, 10]

`WAP to get the largest and smallest number in a list without using built-in function`

In [6]:
list = [6,9,3,5,55,33,76,99,12]
largest = list[0]
smallest = list[0]
for num in list:
    if largest < num:
        largest = num
    if smallest > num:
        smallest = num
print(f"Largest is {largest} and smallest is {smallest}.")

Largest is 99 and smallest is 3.

`WAP to find the second smallest and second largest numbers in a list`

In [7]:
list = [6,9,3,5,55,33,76,99,12]
list.sort()
print(f"Second Largest is {list[-2]} and second smallest is {list[1]}.")

Second Largest is 76 and second smallest is 5.

`WAP to sum all items in a list`

In [8]:
list = [6,9,3,5,55,33,76,99,12]
sum = sum(list)
print(sum)

298

`WAP to multiply all the items in a list`

In [10]:
import math
list = [6,9,3,5,55,33,76,99,12]
product = math.prod(list)
print(product)

132736903200

`WAP to check if a list is empty or not`

In [ ]:
list = [6,9,3,5,55,33,76,99,12]

if not list:
    print("The list is empty")
else:
    print("The list is not empty")

The list is empty

`WAP to print the numbers of a specified list after removing even numbers from it`

In [14]:
list = [6,9,3,5,55,33,76,99,12]
list1 = [x for x in list if not(x % 2 == 0)]
print(list1)

[9, 3, 5, 55, 33, 99]

`WAP to print a specifed list after removing the 0 th, 4th and 5th element`

In [ ]:
list = [6,9,3,5,55,33,76,99,12]
list.remove(list[5])
list.remove(list[4])
list.remove(list[0])
print(list)

[[6, 9, 3, 5, 55, 33, 76, 99, 12], [6, 9, 3, 5, 55, 33, 76, 99, 12], [6, 9, 3, 5, 55, 33, 76, 99, 12], [6, 9, 3, 5, 55, 33, 76, 99, 12], [6, 9, 3, 5, 55, 33, 76, 99, 12], [6, 9, 3, 5, 55, 33, 76, 99, 12]]

`WAP to check if each number is prime in a given list of numbers. Print the prime numbers if any, otherwise print "no prime numbers"`

In [32]:
list = [6,9,3,5,55,33,19,76,99,12]
list1 = []
for num in list:
    count = 0
    for i in range(1,num+1):
        if num  % i == 0:
            count += 1
    if count == 2:
            list1.append(num)
if not list1:
    print("No prime number")
else:
    print(list1)
del list

[3, 5, 19]

`WAP to remove duplicates from list`

In [ ]:
list1 = [6,9,3,5,55,55,5,33,19,76,99,12]
unique_num = set(list1)
print(list(unique_num))

[33, 3, 99, 5, 6, 9, 76, 12, 19, 55]

`WAP to merge two lists and removes all duplicates from the combined list`

In [34]:
list2 = [6,9,3,5,55,33,19,76,99,12]
list1 = [69,35,55,33,29,99,12,24,42,0]
list3 = list2 + list1
combined_list = list(set(list3))
print(combined_list)

[0, 33, 3, 99, 5, 6, 69, 35, 9, 42, 76, 12, 19, 55, 24, 29]

`WAP to print a list in a reverse order`

In [35]:
list1 = [69,35,55,33,29,99,12,24,42,0]
print(list1[::-1])

[0, 42, 24, 12, 99, 29, 33, 55, 35, 69]

`WAP to sort a given list of strings (numbers) numerically`

In [38]:
list1 = ['69','35','55','33','29','99','12','24','42','0']
list1.sort()
print(list1)

['0', '12', '24', '29', '33', '35', '42', '55', '69', '99']

`Apply Various functions like append, remove, pop, insert, sort, max, min in a list`

In [41]:
list1 = [69,35,55,33,29,99,12,24,42,0]
list1.append(50)
print(list1)
list1.remove(69)
print(list1)
list1.pop()
print(list1)
list1.insert(2,76)
print(list1)
list1.sort()
print(list1)
maximum = max(list1)
minimum = min(list1)
print(f"Minimum = {minimum}     Maximum = {maximum}")

[69, 35, 55, 33, 29, 99, 12, 24, 42, 0, 50]
[35, 55, 33, 29, 99, 12, 24, 42, 0, 50]
[35, 55, 33, 29, 99, 12, 24, 42, 0]
[35, 55, 76, 33, 29, 99, 12, 24, 42, 0]
[0, 12, 24, 29, 33, 35, 42, 55, 76, 99]
Minimum = 0     Maximum = 99

`WAP to copy a content of one list to another`

In [42]:
list1 = [69,35,55,33,29,99,12,24,42,0]
list2 = list1.copy()
print(list2)

[69, 35, 55, 33, 29, 99, 12, 24, 42, 0]

`WAP to sort a list of lists by a given index of the inner list`

In [44]:
listmom = [[69,35,55,33,29,99,12,24,42,0],
           ['Red','Blue','Green'],
           ['Python','Java','C++','C#'],
           [6,5,4,3,7,3,2,9]]
specific = 2
listmom[specific].sort()
print(listmom)

[[69, 35, 55, 33, 29, 99, 12, 24, 42, 0], ['Red', 'Blue', 'Green'], ['C#', 'C++', 'Java', 'Python'], [6, 5, 4, 3, 7, 3, 2, 9]]

In [57]:
list1 = [x**2 for x in range(1,16)]
list2 = list1[0:5].copy() + list1[-1:-6:-1].copy()
list3 = []
for i in list2:
    if i in range(1,16):
        list3.append(i)
print(list3)

[1, 4, 9]

`WAP to insert a given string at the beginning of all items in a list`

In [60]:
string = 'Donkey '
list1 = ['Avengers','Superman', 'Housefull', 'Birdbox', 'Singham','Master','Inception']
for i in range(len(list1)):
    list1[i] = string + list1[i]
print(list1)

['Donkey Avengers', 'Donkey Superman', 'Donkey Housefull', 'Donkey Birdbox', 'Donkey Singham', 'Donkey Master', 'Donkey Inception']

`WAP to insert n values in a list and find those values in a list that are greater than a specified number`

In [61]:
list1 = []
list2 = []
n = int(input())
s = int(input())
for i in range(0,n+1):
    x = int(input())
    list1.append(x)
for i in list1:
    if i > s:
        list2.append(i)
print(list2)

[4, 5, 6]