`WAP to convert a  tuple to a string`

In [23]:
tuplee = (1,2,3,4)
print(type(tuplee))
strr = str(tuplee)
print(type(strr))

<class 'tuple'>
<class 'str'>

`WAP to get the 4th element from the last element of a tuple`

In [24]:
tuplee = (1,2,3,4,5,6,7,8)
print(tuplee[-4])

5

`WAP to find repeated items in a tuple`

In [28]:
tuplee = (1,1,2,3,4,6,6,7,8,9,9)
for num in tuplee:
    if tuplee.count(num) > 1:
        print(num)

1
1
6
6
9
9

`WAP to replace the last value of the tuples in a list`

In [ ]:
listt = [(10,20,40),(40,50,60),(70,80,90)]

new_listt = [t[:-1] + (100,) for t in listt]
print(new_listt)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

`WAP to sort a tuple by its float element`

In [45]:

data = (('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))
sorted_data = tuple(sorted(data, key=lambda x: float(x[1])))

print("Original:", data)
print("Sorted :", sorted_data)

Original: (('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))
Sorted : (('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'))

`WAP to convert a given string list to a tuple'

In [50]:
data = 'python3.0'
print(type(data))
new_data = [x for x in data]
new_data1 = tuple(new_data)
print(new_data1)
print(type(new_data1))

<class 'str'>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

`WAP to calculate the product multiplying all the numbers in a given tuple`

In [54]:
data = (1,2,3,4,5,6,7,8)
mul = 1
for num in data:
    mul *= num
print(mul)

40320

`WAP to calculate the average value of the numbers in a given tuple of tuples`

In [ ]:
data = ((10,10,10,12),(30,45,56,45),(81,80,39,32),(1,2,3,4))
new_data = []
# avg_data = []
# for tup in data:
#     average = sum(tup)/len(tup)
#     avg_data.append(average)
# print(avg_data)

[10.5, 44.0, 58.0, 2.5]