`Print all the even numbers from 0 to 10`

In [4]:
for i in range(11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

`Add logic to print two lines`
`First line should contain integer division //`
`Second line should contain float division`

In [5]:
x = 30.5
y = 5
result = x // y
print(result)
result = x / y
result

6.0

6.1

`Evaluate the following expression`

In [6]:

print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)
print((5 > 4) and (3 == 5))
print(not (5 > 4))
print((5 > 4) or (3 == 5))
print(not (5 > 4) and (3 == 5))
print((True and True) and (True == False))
print((not False) or (not True))

44
29
34
False
False
True
False
False
True

`What is the type of the result of the expression 3*1.5+4`

In [8]:
result = 3 * 1.5 + 4
print(f"The answer is {result} and its type is {type(result)}.")

The answer is 8.5 and its type is <class 'float'>.

`Find the numbers square root as well as square`

In [10]:
import math
x = 69
square_root = math.sqrt(x)
square = x ** 2
print(f"Square root of {x} is {square_root:.2f}")
print(f"Square of {x} is {square}")

Square root of 69 is 8.31
Square of 69 is 4761

`WAP whether a variable is int or float or string`

In [11]:
x = 55
y = 6.9
z = "Name"
print(f"X is {type(x)} and has value {x}")
print(f"Y is {type(y)} and has value {y}")
print(f"Z is {type(z)} and has value {z}")

X is <class 'int'> and has value 55
Y is <class 'float'> and has value 6.9
Z is <class 'str'> and has value Name

`WAP to test whether a variable is list, tuple or set`

In [13]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_set = {1,2,3,4,5}

print(f"my_list is {type(my_list)}")
print(f"my_tuple is {type(my_tuple)}")
print(f"my_set is {type(my_set)}")

my_list is <class 'list'>
my_tuple is <class 'tuple'>
my_set is <class 'set'>

`WAP to print the String in following format`

In [ ]:
print("Twinkle Twinkle Little Star")
print(" How I wonder what you are")
print(" \tUp above the also high")
print(" \tLike a diamond in the sky")
print("Twinkle Twinkle Little Star")
print(" How I wonder what you are")

Twinkle Twinkle Little Star
 How I wonder what you are
 	Up above the also high
 	Like a diamond in the sky
Twinkle Twinkle Little Star
 How I wonder what you are

`WAP to find the version of python`

In [17]:
import sys
print(sys.version)

3.13.5 (tags/v3.13.5:6cb20a2, Jun 11 2025, 16:15:46) [MSC v.1943 64 bit (AMD64)]

`WAP to find first and last color of the list`

In [18]:
colors = ["Red", "Green", "White", "Black", "Blue"]
print(f"The first color is {colors[0]}")
print(f"The last color is {colors[-1]}")

The first color is Red
The last color is Blue

`WAP to get volume of a sphere with radius 6`

In [ ]:
import math
Radius = 6
volume = (4/3) * math.pi * Radius ** 3
print(f"The volume is {volume}")

The volume is 904.7786842338603

`WAP to calculate the sum of three numbers. If those value are equal return three times their sum`

In [22]:
x = int(input())
y = int(input())
z = int(input())

if (x == y == z):
    print(f"Three times their sum is {3 * (x+y+z)}")
else:
    print(f"The sum is {x + y + z}")

Three times their sum is 36

`WAP to calculate the sum of two intger. If the sum is between 15 and 20 return 20`

In [29]:
x = int(input())
y = int(input())

sum = x + y
if (sum in range(15,21)):
    print(f"The sum is {20}")

else:
    print(f"The sum is {sum}")

The sum is 14

`WAP to display your name age address on different lines.`

In [30]:
name = "Siddhartha Manandhar"
age = 69
address = "Gamcha-4, Suryabinayak"
print("Name: ",name)
print("Age: ",age)
print("Address: ",address)

Name:  Siddhartha Manandhar
Age:  69
Address:  Gamcha-4, Suryabinayak

`WAP to evaluate (x + y) * (x + y)`

In [31]:
x = 3
y = 4
print(f"({y} + {x}) ^ {2} = {(x + y) * (x + y)}")

(4 + 3) ^ 2 = 49

`WAP to concatnate N string`

In [1]:
n = int(input("Enter a number: "))
combined_str = ""
for i in range(n):
    line = input()
    combined_str += line 
print(combined_str)

SidMidCid

`Given x = 30 and Y = 20. WAP to print "30 + 20 = 50"`

In [3]:
X = 30
Y = 20
print(f"{X} + {Y} = {X +  Y}")

30 + 20 = 50

`Print diff type of variables`

In [8]:
x = 5
y = 6.9
z = "Sid"
a = True
b = 2 + 3j
print(f"{x} is a {type(x)}")
print(f"{y} is a {type(y)}")
print(f"{z} is a {type(z)}")
print(f"{a} is a {type(a)}")
print(f"{b} is a {type(b)}")

5 is a <class 'int'>
6.9 is a <class 'float'>
Sid is a <class 'str'>
True is a <class 'bool'>
(2+3j) is a <class 'complex'>

`WAP to enter user name and greet them using their name`

In [9]:
name = input("Enter your name")
print(f"Greetings!! {name}")

Greetings!! Sid

`WAP to ask user for number of roses and type cast it into integer`

In [10]:
Roses = int(input("Enter the number of roses:"))
print(f"The number of roses is {Roses}")

The number of roses is 69